.imgOverlayWrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
    font-size: 0;
  }
  
.imgOverlayWrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.topBottomContainer {
  position: relative;
  display: block;
  height: 100%;
  background-color: white;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  padding: 5px;
}

.hiddenScroll {
  overflow: hidden;
  flex-grow: 1;
  height: 80%;
}

.scrollable {
  overflow-y: auto;
  height: 93%;
}

.bottomElement {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.ghost {
  opacity: 50%;
}

.unghost {
  opacity: 100%;
}